{% extends "base.html" %}
{% block title %}
Movie Database
{% endblock %}
{% block body %}
    <h1>Movie Database</h1>
    <p>Bienvendidos/as a  MovieDatabase</p>
    <div class="tenor-gif-embed" data-postid="7076440976315502411" data-share-method="host" data-aspect-ratio="1.01852" data-width="20%"><a href="https://tenor.com/view/emote-gif-7076440976315502411">Emote GIF</a>from <a href="https://tenor.com/search/emote-gifs">Emote GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}